{{define "pagination"}}
<div class="pagination">
	<div class="pagination__container">
		<ul class="pagination__list">
			<li class="pagination__link pagination__link--prev">
				<a href="#">&larr;</a>
			</li>

			<li class="pagination__link pagination__link--active">
				<a href="#">1</a>
			</li>
			<li class="pagination__link">
				<a href="#">2</a>
			</li>
			<li class="pagination__link pagination__link--next">
				<a href="#">&rarr;</a>
			</li>
		</ul>
	</div>
</div>
{{end}}
